.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Counter {
  margin-top: 100px;
  border: 1px solid white;
  height: 120px;
  width: 200px;
  background-color: cadetblue;
}

.Scoreboard {
  text-align: center;
  font-size: 30px;
}

.CounterButtons {
  display: flex;
  justify-content: space-around;
  border: 1px solid gold;
  margin: 25px;
  padding: 5px;
}

.red {
  color: red;
}

.disabled {
  opacity: 0.5;
}
