.App {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.Counter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid MediumTurquoise;
    height: 250px;
    width: 400px;
    background-color: PowderBlue;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
}

.Scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 68px;
    height: 50%;
}

.CounterButtons {
    display: flex;
    justify-content: space-around;
    border: 3px solid MediumTurquoise;
    margin: 25px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px cadetblue;
}

.Buttons button {
    padding: 5px;
    font-size: 26px;
    font-weight: bolder;
    background: linear-gradient(to top left, teal, cadetblue, PaleTurquoise, yellow);
    border-radius: 10px;
}
.Buttons button:hover {
    opacity: 0.5;
}

.red {
    color: red;
}

.disabled {
    opacity: 0.5;
}
